.hero-img{
  background-image: url("../../img_hero.png");
  background-size: cover;
}
.grid-img-1, .grid-img-2, .grid-img-3, .grid-img-4, .grid-img-5, .grid-img-6, .grid-img-7{
  opacity: 0;
  transform: translateY(80px);
  transition-property: transform, opacity;
  transition-duration: 400ms, 200ms;
}
