body{
  font-family: 'Delius Swash Caps', cursive;
  background-color: #1e1301;
  font-size: 1.6em;
  margin: 0px;
}

img{
  filter: drop-shadow(8px 8px 2px rgba(0,0,0,0.3));
}

.stagebasic{
  width: 1000px;
  height: 110%;
  position: fixed;
  left: 50%;
  top: -20px;
}

.contents{
  position: relative;
}

.hidden{
  display: none;
}

.stage1{
  background-color: #dbd0ce;
  margin-left: -500px;
}

.stagedeco{

  border-right: 10px solid #61553f;
  border-left: 10px solid #61553f;
  left: 50%;
  margin-left: -510px;


}

.container1{
  position: absolute;
  left: 50%;
  margin-left: -400px;
  color: #1e1301;
  text-align: center;
  width: 800px;
  opacity: .8;
}

.title{
  margin-top: 220px;
  margin-bottom: 300px;
  font-size: 2.4em;
}

.section{
  margin-top: 300px;
  margin-bottom: 300px;
}

.gotoif{
  text-transform: uppercase;
  cursor: pointer;
  animation: imganiprss 0.4s infinite;
  transition: 1s all;
  filter: drop-shadow(2px 2px 0px rgba(0,0,0,0.6));
}
.gotoif:hover{
  color: brown;
  animation-play-state: paused;
}

#imgani1{
  animation: imganiprss 5s infinite;
}
#imgani1:hover{

}
@keyframes imganiprss {
  0%{
    transform: rotate(2deg);
  }
  50%{
    transform: rotate(-2deg);
  }
  100%{
    transform: rotate(2deg);
  }
}


.container2{
  position: absolute;
  left: 50%;
  margin-left: -400px;
  color: #1e1301;
  text-align: center;
  width: 800px;
  opacity: .8;
}

.section2{
  position: relative;
  left: 50%;
  margin-left: -500px;
  color: #1e1301;
  background-color: #dbd0ce;
  border: 10px solid #61553f;
  border-radius: 5px;
  text-align: center;
  width: 1000px;
  height: auto;

  padding-top: 100px;
  padding-bottom: 60px;


  margin-top: 60px;
  margin-bottom: 80px;
}

.title2{
  padding-top: 160px;
  padding-bottom: 60px;
  font-size: 2.4em;
}
.ifmark{
  position: absolute;
  left: 800px;
  top: 450px;
  width: 120px;
  height: 120px;
  font-size: 1.6em;

  border-radius: 10px;

  background-color: white;

  filter: drop-shadow(4px 4px 0px rgba(0,0,0,0.6));

  animation: imganiprss 2s infinite;
}

.selection{
  width: 220px;
  height: 60px;
  position: relative;
  margin-top: 38px;
  left: 50%;
  margin-left: -110px;
}

.slct2{
  margin-bottom: 38px;
}


.select0{
  animation: imganiprss 2s infinite;
  position: relative;
  width: 80px;
  height: 60px;
  background-color: white;
  float: left;
  cursor: pointer;
  transition: 0.4s all;
  border-radius: 10px;
  line-height: 60px;
  text-transform: uppercase;
  margin-left: 5px;
  margin-right: 5px;
  filter: drop-shadow(4px 4px 0px rgba(0,0,0,0.6));
}
.select2{
  width: 100px;
}
.select0:hover{
  transform: translate(-5px, -5px);
  animation-play-state: paused;
}

#imgani2{
  animation: imganiprss2 1s infinite;
}
#imgani2:hover{
  animation-play-state: paused;
}
@keyframes imganiprss2 {
  0%{
    transform: rotate(0deg);
  }
  10%{
    transform: rotate(-2deg);
  }
  20%{
    transform: rotate(2deg);
  }
  30%{
    transform: rotate(-2deg);
  }
  40%{
    transform: rotate(2deg);
  }
  50%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(0deg);
  }
}
