@use "../Sections.module.scss";

.main {
  margin-top: 4rem;
  padding-bottom: max(3rem, min(1.0356vw + 2.75728rem, 4rem));
  padding-top: max(3rem, min(1.0356vw + 2.75728rem, 4rem));
}

.sectionHero {
  width: 100%;
  height: 30vh;
  background-color: var(--color-lilac);
  margin-bottom: max(3rem, min(1.0356vw + 2.75728rem, 4rem));
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 2rem;
}

.project {
}

.description{
  margin-top: 1rem;
}

.imageWrapper {
  overflow: hidden;
  aspect-ratio: 16 / 9;
}

.tagName {
  & + .tagName::before {
    content: ", ";
  }
}

.projectName {
  font-size: 1.75rem;
  font-weight: 400;
  letter-spacing: -0.01em;
  line-height: 1;
  margin-bottom: .5rem;
}
