/* triangle generator: http://apps.eky.hk/css-triangle-generator/ */

.logobox:hover{

}

.portfolio-item-title{

}

.portfolio-item-title:hover,.portfolio-item-detail:hover{


}


::-moz-selection { /* Code for Firefox */
    /* color: red; */
    background: rgba(92,202,232,1);
}

::selection {
    /* color: red; */
    background: rgba(92,202,232,1);
}

#img-link{
  transition: 0.3s all cubic-bezier(0,.2,.4,1);
}

#img-link:hover{
  filter: drop-shadow(2em .5em 0em rgba(92,202,232,1)) drop-shadow(-2em -.5em 0em rgba(92,202,232,1));
}

/* .bigDeco{
  position: absolute;
  right: -27px;
  bottom: 40px;
  width: 160px;
  height: 160px;

  background-color: white;
  transform: rotate(90deg) skewX(30deg);
} */
