@font-face {
  font-family: 'bodyFont';
  src:  url('../other/fs-b.otf') format('opentype');
}

@font-face {
  font-family: 'bodyFontTitle';
  src:  url('../other/fs-b-title.otf') format('opentype');
}
@font-face {
  font-family: 'titleFont';
  src:  url('../other/slab-r.ttf') format('opentype');
}
@font-face {
  font-family: 'subTitleFont';
  src:  url('../other/san-l.otf') format('opentype');
}
@font-face {
  font-family: 'bodyFont_ko';
  src:  url('../fonts/SeoulNamsanDM.ttf');
}
@font-face {
  font-family: 'titleFont_ko';
  src:  url('../fonts/SeoulNamsanDEB.ttf');
}
