@font-face {
  font-family: 'ft-body';
  src:  url('../other/FS-Book.otf') format('opentype');
}
@font-face {
  font-family: 'ft-strong';
  src:  url('../other/ft-body_strong.otf') format('opentype');
}
@font-face {
  font-family: 'ft-h2';
  src:  url('../other/FS-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'ft-body';
  src:  url('../fonts/SeoulNamsanB.ttf');
}
