/* main page grid */
.grid > div > .item-info-wrapper{
  /* margin: .5em 0 0 0; */
  opacity: 1;
  left: 10px;
  bottom: 0px;
  position: absolute;
  width: 61%;
  height: auto;
  background-color: rgba(255,255,255,1);
  z-index: 10;
  /* color: rgba(255,255,255,1); */
}
.item-info{
  padding: 1vw var(--gap-default) 1vw var(--gap-default);
  line-height: 1em;
}
.info-title{
  color: var(--color-pri);
  letter-spacing: 0.02em;
}
.info-detail{
  font-family: 'bodyFontIt';
  text-transform: lowercase;
}

/* end main page grid */

.nav, .bg{
  transition-property: color, background-color, opacity;
  transition-duration: 600ms, 600ms, 600ms;
}

.nav{
  background-color: var(--color-pri);
}

.works, .about{
  color: var(--color-sec);
}

.logo{
  background-image: url("../imgs/logo-invert.svg");
}

.bg{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-pri);
}

.side-info{
  color: var(--color-sec);
}

.mark-pri{
  background-image: url("../imgs/logo.svg");
}

.txt-bg-pri{
  background-color: var(--color-sec);
  color: var(--color-pri);
}

.txt-pri{
  color: var(--color-pri);
}

/* status */
.selected{
  color: var(--color-sec);
  background-color: var(--color-pri);
}

@media screen and (max-width: 700px) {
  .grid > div > .item-info-wrapper{
  }
  .item-info{
    padding: var(--padding-default);
    line-height: 1em;
  }
}
