
li{
  list-style-type: none;
}

#page{
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}

#page-2{
  position: relative;
  overflow-x: hidden;
  width: 100%;

  box-sizing: border-box;
  z-index: 10;

  background-color: white;

}

.home-section{
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#bttn-project{
  text-decoration: underline;
  cursor: pointer;
}
#bttn-project:hover{
  background-color: rgba(92,202,232,1);
  color: black;
}

.section6{
  padding-top: 120px;
  padding-bottom: 120px;

}

.section7{
  padding-top: 20px;
  padding-bottom: 20px;
}

.portfolio-section{
  background-color: white;
}

.portfolio-filters{
  text-align: center;
  display: inline-block;
  margin-bottom: 40px;
}

.portfolio-box{
  position: relative;
  height: auto;
  padding: 0;
  display: table;
  content: " ";
}

.portfolio-item{
  float: left;
  margin: 8px;
  overflow: hidden;
}
.portfolio-border{
  /* border: 4px solid rgba(80,170,200,1); */
}

.portfolio-item-info{

  transition: 0.5s all cubic-bezier(0,.2,.4,1);

  color: black;
  background-color: white;

  position: absolute;
  bottom: 22px;

  border-top-right-radius: 1%;
  border-bottom-right-radius: 1%;
  padding: 5px 30px 8px 20px;

  transform-origin: right;
  transform: translateX(-400px);

  z-index: 900;
}



.portfolio-item-title{
  transition: 0.52s all cubic-bezier(0,.2,.4,1);
  transform: translateX(-400px);

}
.portfolio-item-detail{
  transition: 0.6s all cubic-bezier(0,.2,.4,1);
  transform: translateX(-400px);
}
.portfolio-item:hover .portfolio-item-info{
  transform: translateX(0px);
}
.portfolio-item:hover .portfolio-item-title{
  transform: translateX(0px);
}
.portfolio-item:hover .portfolio-item-detail{
  transform: translateX(0px);
}


.portfolio-item-img{
  position: relative;
  transition: 0.3s cubic-bezier(0,.2,.4,1) all;
}



.portfolio-item-img:hover{

  z-index: 10;
}

.portfolio-item:hover .img-hover{
  opacity: 1;

}

/* img control */
.img-responsive{
  display: block;
  max-width: 100%;
  height: auto;

  float: left;
  padding: 10px 0px;
}

.img-50{
  display: block;
  max-width: 100%;
  height: auto;
}

img.img-hover {
  backface-visibility: hidden;
  position: absolute;
  opacity: 0;
}

/* end img control */

/* Slides */
.img-slideshow{
  position: relative;

  box-sizing: border-box;
  display: table;
}

.img-slides{
  vertical-align: middle;
}

.button-slides{
  border: none;
  display: inline-block;
  padding: 24px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;

  transition: 0.3s all cubic-bezier(0,.2,.4,1);
  color: white;
  background-color: black;

  filter: drop-shadow(.1rem .1rem 0px rgba(0,0,0,0.6));
}
.button-slides:hover{
  color: black;
  background-color: rgba(92,202,232,1);
}


.bttn-slides-left{
  position: absolute;
  top: 50%;
  left: -1%;
  transform: translate(0%,-50%);

}
.bttn-slides-right{
  position: absolute;
  top: 50%;
  right: -1%;
  transform: translate(0%,-50%);

}



/* End Slides */



.portfolio-item-img:after{

}


.container{

  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  display: table;
}

.container-home{

}


.section-title{
  position: relative;
  text-align: left;
  padding-bottom: 20px;
  z-index: 20;
}

.section-title-more{
  color: rgba(12, 12, 23, 0.9);
  display: inline-block;
  position: relative;


  font-weight: 500;
  letter-spacing: .65em;
  margin-right: -0.65em;
  font-size: .8em;
}

.col-sm-6{
  float: left;
  width: 50%;
  position: relative;
  min-height: 1px;
}

.col-sm-7{
  float: left;
  position: relative;
  min-height: 1px;
}

.col-sm-33{
  float: left;
  width: 33%;
  padding: 0px 0px;
}

.col-sm-30,.col-sm-70,.col-sm-50{
  float: left;
}


.full-screen{
  height: 96vh;
  width: 100%;
}


.parallax-hero{
  position: fixed;
  top: 0;
  left: 0;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-image{
  background-color: black;
  /* background-image: url(../imgs/bg2.jpg); */
}

.hs-content{
  position: absolute;
  top: 0;
  left: 0;
  display: table;
  height: 100%;
  width: 100%;

  text-transform: uppercase;
  color: rgba(92,180,202,1);

}
.hs-content-inner{
  position: relative;
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  width: 100%;
  padding: 0 30px;
  font-weight: 700;
  z-index: 5;
  font-size: 3em;
}

.row{

}

.row:before{
  display: table;
  content: " ";
}

.section-text{
  margin-bottom: 10.5px;
  font-size: 16px;

  line-height: 1.7;
}

p{
  margin: 0 0 21px;
}

.home-section.overlay:before, .overlay:before {
    background-color: rgba(0,0,0,.9);;
    opacity: .2;
}
.overlay:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
:before,:after{
      box-sizing: border-box;
}

#about-section{
  /* background-color: rgba(255,255,255,1); */
  background-color: rgba(80,170,200,1);
}

#next-section{
  background-color: rgba(80,170,200,1);
  /* background-color: rgba(255,255,255,1); */
}

.singnav{
  position: relative;
  float: left;
  cursor: pointer;


}


.next-img{
  transition: 0.3s all cubic-bezier(0,.2,.4,1);
}

.next-img:hover{
  transform: rotate(.05deg) translate(-2px, -2px);
}

.next-text{
  position: absolute;
  top: -10px;

  border-radius: 1%;

  background-color: black;
  color: white;

  font-weight: 700;
  font-size: 1.2rem;
  text-transform: uppercase;

  width: auto;
  height: auto;

  transition: 0.2s all cubic-bezier(0,.2,.4,1);

  z-index: 100;
}

.next-text:hover{
  background-color: white;
  color: black;
}

.next-left{
  right: 40px;
  padding: 14px 14px 14px 34px;
}

.next-right{
  left: 40px;
  padding: 14px 34px 14px 14px;
}

/* video control  */
.video-responsive{

  display: block;
  max-width: 100%;
  height: auto;

  float: left;
  padding: 10px 0px;
  position: relative;
}

.video-screen{
  position: relative;
}

  /* video buttons */


  .video-bttns{
    position: relative;

    left: 50%;
    margin-left: -40px;

    float: left;
  }
@keyframes identifier {

}
  .video-icon{
    text-align: center;
    border-radius: 2%;
    padding:  10px 10px;

    font-weight: 900;

    color: white;
    background-color: black;

    width: 60px;

    text-transform: uppercase;
    cursor: pointer;
    transition: 0.2s all cubic-bezier(0,.2,.4,1);
    font-size: 1em;
  }

  .video-icon:hover{
    color: black;
    background-color: white;

    filter: drop-shadow(1em .3em 0em rgba(92,202,232,1)) drop-shadow(-1em -.3em 0em rgba(92,202,232,1));
  }

  .video-psbttn{
    display: none;
  }

  .video-plbttn{

  }

  /* end video buttons */

/* end video control  */




.footer-section{
  background: black;
  overflow-x: hidden;
  text-align: center;
}

.footer-text{
  color: white;
  display: inline-block;
  padding-bottom: 12px;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: .1em;
  margin-right: -0.23em;
  padding: 14px 0;

}
.padding-bottom-0{
  padding-bottom: 0px;
}
.padding-top-0{
  padding-top: 0px;
}
.padding-bottom-30{
  padding-bottom: 10px;
}

.padding-bottom-120{
  padding-bottom: 40px;
}


@media screen and (min-width: 600px) {
  .container{
    width: 500px;
  }

  .hs-content-inner{
    padding: 0 100px;
    font-size: 4.7em;
  }
}
@media screen and (min-width: 900px) {

}
@media screen and (min-width: 1200px) {
  .padding-bottom-30{
    padding-bottom: 30px;
  }

  .padding-bottom-120{
    padding-bottom: 120px;
  }

  .col-sm-30{
    width: 30%;
  }

  .col-sm-70{
    width: 70%;
  }

  .col-sm-50{
    width: 49.4%;
    padding-left: 0.3%;
    padding-right: 0.3%;
  }

  .img-50{
    max-width: 48%;
    padding: 10px 10px;
  }

  .container{
    width: 1053px;

  }
  .container-home{
    width: 1140px;
  }

  .hs-content-inner{
    padding: 0 100px;
    font-size: 6em;

  }

  .portfolio-item-img{
    height: 369.33px;
  }

@media screen and (min-width: 1800px) {

}
