
/*general*/

body {
  font-family: 'Open Sans', sans-serif;
  color: black;

  margin: 0px;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}



a{
  text-decoration: none;
  transition: all 0.2s;
  transform-origin: center;
  color: #183432;
}

a:hover{

}

a:active {
    background-color: hotpink;
}


h1{
  font-weight: 700;
  font-size: 1.4em;
  letter-spacing: .02em;

  margin: 0;
}



h2{
  margin: 0;
  font-weight: 600;
  font-size: 4rem;
  letter-spacing: .02em;

  line-height: 1.08;
  margin-bottom: .2em;

}

h3 {
  margin: 0;

  font-weight: 600;
  font-size: .9rem;
  text-transform: uppercase;

  opacity: .92;
}

h4 {
  font-style: italic;
  font-weight: 400;
  font-size: 1em;
  margin-top: -10px;
  margin-bottom: 40px;
}

h5 {
  font-style: italic;
  font-weight: 400;
  font-size: 0.9em;
  margin-top: 0px;
  margin-bottom: 30px;
}

.deco-box{
  transform: matrix(1, 1, 0, 1, 0, 0);
  background: #000;
  position: absolute;
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  transition: 0.2s all;
}

.txt-box{
  opacity: 1;

  width: 20px;
  height: 30px;

  top: 114px;
  left: -5px;
}

.deco-box:hover{
  height: 60px;
  background: rgba(92,202,232,1);
}

.headline{
  position: relative;
  top: 0;
  left: 0;
  padding: 10px 0px 30px 0px;
  opacity: 0.92;

  text-transform: capitalize;
}

.mainhead{
  animation: headlineprss 0.6s forwards cubic-bezier(0,.2,.4,1);
  transform: translateY(40vw);

}

.subhead{
  animation: headlineprss 0.6s forwards cubic-bezier(0,.2,.4,1);
  padding: 0px 8px;
  transform: translateY(40vw);
  animation-delay: 0.1s;
}

#headline-color{
  background-color: rgba(45,45,46,1);
  padding-left: 10px;
  padding-right: 10px;
}

@keyframes headlineprss {
  0%{
    transform: translateY(40vw);
  }

  100%{
    transform: translateY(0px);
  }
}

.headline--stroke{
  width: 6px;
  height: 35.5vw;
  background-color: white;
  position: absolute;
  left: 70px;

  bottom: -2%;
  transform-origin: 50% 0%;
  -webkit-transform-origin: 50% 0%;
  transform: scale(1,0);
  animation: headline--strokeprss 0.8s forwards cubic-bezier(0,.2,.4,1);
  animation-delay: 0.8s;
}

@keyframes headline--strokeprss {
  0%{
    transform: scale(1,0);
  }

  100%{
    transform: scale(1,1);
  }
}


.bodytextB{
  line-height: 1.5;
  font-size: 2.25rem;
  font-weight: 700;
  margin-bottom: 1em;
}

.bodytextS{
  padding-top: 12px;
  line-height: 1.5;
  font-size: 1.25rem;
}


/*header*/
.logobox{
  position: absolute;
  right: 100px;
  width: auto;
  height: 110px;

}

.logo1{
  position: absolute;
  width: auto;
  height: 110px;
  fill: rgba(92,202,232,1);
  transition: 0.7s all cubic-bezier(0,.2,.4,1);;
  cursor: pointer;
}

.logo1:hover{
  transform: rotate(1080deg);

}

.logo-name{
  position: absolute;
  width: 85px;
  height: auto;
  fill:#231f20;
  right: 14px;
  bottom: 3px;
  transition: 0.6s all;

  transform-origin: right;

  overflow: visible;
}

.logobox:hover .logoname{
  opacity: 1;

}


.logobox:hover .logospinning{
}

.logospinning{
  z-index: 10;
  transform-origin: center;
  position: absolute;
  width: 63.5px;
  height: 110px;


}


.headerNav{
  position: absolute;
  width: 100%;
  padding-top: 16px;

  z-index: 1000;
}

.fixed{
  position: fixed;
}


/*end/*/

/*1stindex*/


.img-phone{
  width: 180px;
  height: auto;
  position: relative;
  left: 50%;
  margin-left: -90px;
  transition: 0.3s all;
  margin-top: 10px;
  margin-bottom: 20px;
}





@media screen and (min-width: 900px) {
  h2{
    font-size: 6rem;
  }



  .img-phone{
    width: 270px;
    margin-left: -135px;
  }


}
@media screen and (min-width: 1200px) {


}

@media screen and (min-width: 1800px) {


}


/*end1stindex*/


/*media*/
