/*general*/

body {
  font-family: 'Open Sans', sans-serif;
  color: black;

  margin: 0px;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

div{
  margin: 0px;
  padding: 0px;
}

a{
  text-decoration: none;
  transition: all 0.2s;
  transform-origin: center;
  color: rgba(92,202,232,1);
}

a:hover{
  color: #183432;
}

a:active {
    background-color: hotpink;
}


h1{
  font-weight: 700;
  font-size: 1.4em;
  letter-spacing: .02em;

  margin: 0;
}



h2{
  margin: 0;
  font-weight: 800;
  font-size: 2.4rem;
  letter-spacing: .02em;

  line-height: 1.08;
  margin-bottom: .2em;

}

h3 {
  margin: 0;

  font-weight: 600;
  font-size: .9rem;
  text-transform: uppercase;

  opacity: .92;
}

h4 {
  font-style: italic;
  font-weight: 400;
  font-size: 1em;
  margin-top: -10px;
  margin-bottom: 40px;
}

h5 {
  font-style: italic;
  font-weight: 400;
  font-size: 0.9em;
  margin-top: 0px;
  margin-bottom: 30px;
}

/* end general */

/*header*/
.logobox{
  position: absolute;
  right: -18px;
  top: 20px;
  width: auto;
  height: 76px;

}

.logo1{
  position: absolute;
  width: auto;
  height: 76px;
  fill: rgba(92,202,232,1);
  transition: 0.7s all cubic-bezier(0,.2,.4,1);
  cursor: pointer;
}

.logo1:hover{
  transform: rotate(1080deg);

}

.logo-name{
  position: absolute;
  width: auto;
  height: 44px;
  fill:#231f20;
  right: 8px;
  bottom: 3px;

  transform-origin: 100% 100%;

  overflow: visible;
}


.hi--1{
  width: auto;
  height: 30px;

  overflow: visible;
  position: absolute;
  fill:#231f20;

  right: -40px;
  bottom: 10px;

  opacity: 0;

  cursor: zoom-in;
}

.logospinning{
  z-index: 10;
  transform-origin: center;
  position: absolute;
  width: 43.87px;
  height: 76px;
}



.headerNav{
  position: absolute;
  z-index: 1000;
  left: 50%;
}

.fixed{
  position: fixed;
}

.nav--whole{
  margin-top: 16px;
  display: block;
}

.nav--bttn{
  position: relative;
  float: left;
  width: 50px;

  padding: 35px 0px;

  margin-left: 10px;

  background-image: url(../imgs/logo.svg);

  background-size: contain;
  background-repeat: no-repeat;

  font-size: .8em;
  text-align: center;
  vertical-align: middle;
  color: black;
  text-transform: uppercase;
  font-weight: 700;

  cursor: pointer;

  transition: all .3s;

  filter: drop-shadow(1px 1px 1px black)
}

.nav--bttn:hover{
  color: white;
}


/*end header*/


/*1st index*/


.img-phone{
  width: 180px;
  height: auto;
  position: relative;
  left: 50%;
  margin-left: -90px;
  transition: 0.3s all;
  margin-top: 10px;
  margin-bottom: 20px;
}

li{
  list-style-type: none;
}


#page{
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}

#page-2{
  position: relative;
  overflow-x: hidden;
  width: 100%;

  box-sizing: border-box;
  z-index: 10;

  background-color: white;
}


.home-section{
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.section6{
  padding-top: 120px;
  padding-bottom: 120px;

}

.section7{
  padding-top: 20px;
  padding-bottom: 20px;
}

.portfolio-section{
  background-color: white;
}

.portfolio-filters{
  text-align: center;
  display: inline-block;
  margin-bottom: 40px;
}

.portfolio-box{
  position: relative;
  height: auto;
  padding: 0;
  display: table;
  content: " ";
}

.portfolio-item{
  float: left;
  margin: 20px;
  overflow: hidden;
}
.portfolio-border{
  /* border: 4px solid rgba(80,170,200,1); */
}

.portfolio-item-info{

  transition: 0.5s all cubic-bezier(0,.2,.4,1);

  color: black;
  background-color: white;

  position: absolute;
  bottom: 0px;

  border-top-right-radius: 1%;
  border-bottom-right-radius: 1%;
  padding: 5px 30px 8px 20px;

  transform-origin: right;
  transform: translateX(-100%);

  z-index: 900;

  font-size: .8em;
}

.portfolio-item-info::before{
  content: "";
  display: block;
  position: absolute;
  right: -8px;
  top: 0;

  width: 8px;
  height: 100%;
  background: rgba(92,202,232,1);;

}

.portfolio-item-info::after{
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;

  width: 20%;
  height: 6px;
  background: rgba(92,202,232,1);;
}



.portfolio-item-title{
  transition: 0.53s all cubic-bezier(0,.2,.4,1);
  transform: translateX(-100%);

}

.portfolio-item-detail{
  transition: 0.56s all cubic-bezier(0,.2,.4,1);
  transform: translateX(-100%);

  font-size: .92em;
}

.portfolio-item:hover .portfolio-item-info{
  transform: translateX(0px);
}

.portfolio-item:hover .portfolio-item-title{
  transform: translateX(0px);
}

.portfolio-item:hover .portfolio-item-detail{
  transform: translateX(0px);
}


.portfolio-item-img{
  position: relative;
  transition: 0.3s cubic-bezier(0,.2,.4,1) all;
}

#thumbnail{
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  transition: all 0.3s cubic-bezier(0,.2,.4,1);
}


.img-hover, .img-ori{
  padding: 0;
  margin: 0;
}

.img-hover{
  position: absolute;
  backface-visibility: hidden;
  opacity: 0;
}

.portfolio-item-img:hover{
  opacity: 1;
  z-index: 10;
}

.portfolio-item:hover .img-hover{
  opacity: 1;
}

/*end 1st index*/

/* head page */
.headline{
  position: relative;
  top: 0;
  left: 14px;
  padding: 0px 0px 30px 0px;

  text-transform: capitalize;
}

.mainhead{
  animation: headlineprss 0.6s forwards cubic-bezier(0,.2,.4,1);
  transform: translateY(40vh);

}

.subhead{
  animation: headlineprss 0.6s forwards cubic-bezier(0,.2,.4,1);
  padding: 0px 2px;
  transform: translateY(40vh);
  animation-delay: 0.1s;
}

#headline-color{
  background-color: rgba(45,45,46,1);
  padding-left: 10px;
  padding-right: 10px;
}

@keyframes headlineprss {
  0%{
    transform: translateY(40vw);
  }

  100%{
    transform: translateY(0px);
  }
}

.headline--stroke{
  width: 6px;
  height: 102px;
  background-color: white;
  position: absolute;
  left: 30px;

  bottom: -2%;
  transform-origin: 50% 0%;
  -webkit-transform-origin: 50% 0%;
  transform: scale(1,0);
  animation: headline--strokeprss 0.8s forwards cubic-bezier(0,.2,.4,1);
  animation-delay: 0.8s;
}

@keyframes headline--strokeprss {
  0%{
    transform: scale(1,0);
  }

  100%{
    transform: scale(1,1);
  }
}

/* end head page */

/* img control */
.img-responsive{
  display: block;
  max-width: 100%;
  height: auto;

  float: left;
  padding: 10px 0px;
}

.img-50{
  display: block;
  max-width: 100%;
  height: auto;
}

/* end img control */



.container{

  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  display: table;
}

.container-home{

}

.bodytextB{
  line-height: 1.5;
  font-size: 1.6rem;
  font-weight: 700;

}

.bodytextS{
  line-height: 1.5;
  font-size: 1rem;
}

.section-title{
  position: relative;
  text-align: left;
  padding-bottom: 20px;
  z-index: 20;
}

.col-sm-6{
  float: left;
  width: 50%;
  position: relative;
  min-height: 1px;
}

.col-sm-7{
  float: left;
  position: relative;
  min-height: 1px;
}

.col-sm-15{
  float: left;
  width: 15%;
  padding: 2.5%;
}

.col-sm-30{
  float: left;
  width: 48.7%;
  padding: .65% .65%;
}

.col-sm-70,.col-sm-50{
  float: left;
}


.full-screen{
  height: 92vh;
  width: 100%;
}


.parallax-hero{
  position: fixed;
  top: 0;
  left: 0;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-image{

  /* background-image: url(../imgs/bg2.jpg); */
}

.hs-content{
  position: absolute;
  top: 0;
  left: 0;
  display: table;
  height: 100%;
  width: 100%;
  text-transform: uppercase;
  /* color: black; */
  color: rgba(255,255,255,0.9);

}
.hs-content-inner{
  position: relative;
  display: table-cell;
  vertical-align: bottom;

  width: 100%;
  padding: 0 30px;
  font-weight: 700;
  z-index: 5;
}

.row{

}

.row:before{
  display: table;
  content: " ";
}

.about-text{
  margin-bottom: 10.5px;
  font-weight: 700;
  font-size: 1.8em;
  line-height: 1.5;
}

p{
  margin: 0 0 21px;
}

.home-section.overlay:before, .overlay:before {
    background-color: rgba(0,0,0,.9);;
    opacity: .2;
}
.overlay:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  left: 0;
}
:before,:after{
  box-sizing: border-box;
}

#about-section{
  /* background-color: rgba(255,255,255,1); */
  background-color: rgba(80,170,200,1);
  color: white;
}

#next-section{
  background-color: rgba(80,170,200,1);
  /* background-color: rgba(255,255,255,1); */
}

.singnav{
  position: relative;
  float: left;
  cursor: pointer;


}


.next-img{
  transition: 0.3s all cubic-bezier(0,.2,.4,1);
}

.next-img:hover{
  transform: rotate(.05deg) translate(-2px, -2px);
}

.next-text{
  position: absolute;
  top: -10px;

  border-radius: 1%;

  background-color: rgba(92,202,232,1);
  color: white;

  font-weight: 700;
  font-size: 1.2rem;
  text-transform: uppercase;

  width: auto;
  height: auto;

  transition: 0.2s all cubic-bezier(0,.2,.4,1);

  z-index: 100;
}

.next-text:hover{
  background-color: white;
  color: black;
}

.next-left{
  right: 40px;
  padding: 14px 14px 14px 34px;
}

.next-right{
  left: 40px;
  padding: 14px 34px 14px 14px;
}


/* video control  */
.video-responsive{

  display: block;
  max-width: 100%;
  height: auto;

  float: left;
  padding: 10px 0px;
  position: relative;
}

.video-screen{
  position: relative;
}

  /* video buttons */


  .video-bttns{
    position: relative;

    left: 50%;
    margin-left: -40px;

    float: left;
  }
  .video-icon{
    text-align: center;
    border-radius: 2%;
    padding:  10px 10px;

    font-weight: 900;

    color: white;
    background-color: rgba(102,212,242,1);

    width: 60px;

    text-transform: uppercase;
    cursor: pointer;
    transition: 0.2s all cubic-bezier(0,.2,.4,1);
    font-size: 1em;
  }

  .video-icon:hover{
    color: black;
    background-color: white;

    filter: drop-shadow(1em .3em 0em rgba(0,0,0,1)) drop-shadow(-1em -.3em 0em rgba(0,0,0,1));
  }

  .video-psbttn{
    display: none;
  }



  .video-plbttn{

  }

  /* end video buttons */

/* end video control  */




.footer-section{
  background: black;

  color: white;
  overflow-x: hidden;
}

.footer-text{
  display: inline-block;
  letter-spacing:0.1em;

  font-size: .8em;
  line-height: 1.6em;
  margin-right: -0.23em;
  padding: 14px 0;
  font-weight: 600;
}
.padding-bottom-0{
  padding-bottom: 0px;
}
.padding-top-0{
  padding-top: 0px;
}
.padding-bottom-30{
  padding-bottom: 10px;
}

.padding-bottom-60{
  padding-bottom: 20px;
}

.padding-bottom-120{
  padding-bottom: 40px;
}


@media screen and (min-width: 600px) {
  .container{
    width: 500px;
  }

  .headline--stroke{
    left: 96px;
    width: 6px;
    height: 102px;
  }

  .headerNav{
    width: 500px;
    margin-left: -250px;
  }

  .hs-content-inner{
    padding: 0 100px;
    font-size: 4.7em;
  }
}
@media screen and (min-width: 900px) {
  h2{
    font-size: 3.4rem;
  }

  .headline--stroke{
    height: 118px;
  }

  .img-phone{
    width: 270px;
    margin-left: -135px;
  }

  .portfolio-item-img{
    height: 420px;
  }

  #thumbnail{
    width: 640px;
    height: 36  0px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-item-img{
    height: 287px;
  }

  #thumbnail{
    width: 510px;
    height: 287px;
  }

  .padding-bottom-30{
    padding-bottom: 30px;
  }

  .padding-bottom-60{
    padding-bottom: 60px;
  }

  .padding-bottom-120{
    padding-bottom: 120px;
  }

  .col-sm-15{
    width: 15%;
  }

  .col-sm-70{
    width: 60%;
  }

  .col-sm-50{
    width: 48.7%;
    padding: .65% .65%;

  }

  .col-sm-30{
    width: 32%;
    padding: 0.65% 0.65%;
  }

  .img-50{
    max-width: 48%;
    padding: 10px 10px;
  }

  .container{
    width: 1053px;
  }

  .headerNav{
    width: 1053px;
    margin-left: -541px;
  }

  .container-home{
    width: 1100px;
  }

  .hs-content-inner{
    padding: 0 100px;
  }

@media screen and (min-width: 1800px) {

}
