

li{
  list-style-type: none;
}

#page{
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}

#page-2{
  position: relative;
  overflow-x: hidden;
  width: 100%;

  box-sizing: border-box;
  z-index: 10;

  background-color: white;

}

.home-section{
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#bttn-project{
  text-decoration: underline;
  cursor: pointer;
}
#bttn-project:hover{
  background-color: rgba(92,202,232,1);
  color: black;
}

.section6{
  padding-top: 120px;
  padding-bottom: 120px;
}

.section7{
  padding-top: 20px;
  padding-bottom: 20px;
}

.portfolio-section{

}

.portfolio-filters{
  text-align: center;
  display: inline-block;
  margin-bottom: 40px;
}

.portfolio-box{
  position: relative;
  height: auto;
  padding: 0;
  display: table;
  content: " ";
}

.portfolio-item{
  float: left;
  margin: 20px;
}

.portfolio-item-img{
  position: relative;
  transition: 0.3s;
}


.portfolio-item-img:hover{
  filter: drop-shadow(8px 8px 0px rgba(92,202,232,1)) drop-shadow(-8px -8px 0px rgba(92,202,232,1));
  z-index: 10;
}

.portfolio-item-img:hover .img-hover{
  opacity: 1;
}

img.img-hover {
  backface-visibility: hidden;
  position: absolute;
  opacity: 0;
}



.portfolio-item-img:after{

}


.container{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  display: table;
}


.section-title{
  position: relative;
  text-align: left;
  padding-bottom: 20px;
  z-index: 20;
}

.section-title-more{
  color: rgba(12, 12, 23, 0.9);
  display: inline-block;
  position: relative;


  font-weight: 500;
  letter-spacing: .65em;
  margin-right: -0.65em;
  font-size: .8em;
}

.col-sm-6{
  float: left;
  width: 50%;
  position: relative;
  min-height: 1px;
}

.col-sm-7{
  float: left;
  position: relative;
  min-height: 1px;
}

.col-sm-30,.col-sm-70,.col-sm-50{
  float: left;
}


.full-screen{
  height: 100vh;
  width: 100%;
}


.parallax-hero{
  position: fixed;
  top: 0;
  left: 0;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-image{
  background-color: black;
  /* background-image: url(../imgs/bg2.jpg); */
}

.hs-content{
  position: absolute;
  top: 0;
  left: 0;
  display: table;
  height: 100%;
  width: 100%;

  text-transform: uppercase;
  color: rgba(92,202,232,1);
}
.hs-content-inner{
  position: relative;
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  width: 100%;
  padding: 0 30px;
  font-weight: 700;
  z-index: 5;
  font-size: 3em;
}

.row{

}

.row:before{
  display: table;
  content: " ";
}

.section-text{
  margin-bottom: 10.5px;
  font-size: 16px;

  line-height: 1.7;
}

p{
  margin: 0 0 21px;
}

.home-section.overlay:before, .overlay:before {
    background-color: rgba(0,0,0,0.8);;
    opacity: .2;
}
.overlay:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
:before,:after{
      box-sizing: border-box;
}

#about-section{
  background-color: rgba(92,202,232,1);
}

/* img control */
.img-responsive{
  display: block;
  max-width: 100%;
  height: auto;

  float: left;
  padding: 10px 0px;
}

.img-50{
  display: block;
  max-width: 100%;
  height: auto;
}

/* end img control */

/* video control  */
.video-responsive{

  display: block;
  max-width: 100%;
  height: auto;

  float: left;
  padding: 10px 0px;
  position: relative;
}

.video-screen{
  position: relative;
}

  /* video buttons */


  .video-bttns{
    position: relative;

    left: 50%;
    margin-left: -40px;

    float: left;
  }

  .video-icon{
    text-align: center;
    border-radius: 2%;
    padding:  10px 10px;

    font-weight: 900;

    color: white;
    background-color: black;

    width: 60px;

    text-transform: uppercase;
    cursor: pointer;
    transition: 0.2s all linear;
    font-size: 1em;
  }

  .video-icon:hover{
    color: black;
    background-color: white;
    filter: drop-shadow(6px 6px 0px rgba(92,202,232,1)) drop-shadow(-6px -6px 0px rgba(92,202,232,1));
  }

  .video-psbttn{
    display: none;
  }

  .video-plbttn{

  }

  /* end video buttons */

/* end video control  */




.footer-section{
  background: black;
  overflow-x: hidden;
  text-align: center;
}

.footer-text{
  color: white;
  display: inline-block;
  padding-bottom: 12px;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: .1em;
  margin-right: -0.23em;
  padding: 14px 0;

}


.padding-bottom-30{
  padding-bottom: 10px;
}

.padding-bottom-120{
  padding-bottom: 40px;
}


@media screen and (min-width: 600px) {
  .container{
    width: 500px;
  }

  .hs-content-inner{
    padding: 0 100px;
    font-size: 4.7em;
  }
}
@media screen and (min-width: 900px) {

}
@media screen and (min-width: 1200px) {
  .padding-bottom-30{
    padding-bottom: 30px;
  }

  .padding-bottom-120{
    padding-bottom: 120px;
  }

  .col-sm-30{
    width: 30%;
  }

  .col-sm-70{
    width: 70%;
  }

  .col-sm-50{
    width: 48%;
    padding-right: 20px
  }

  .img-50{
    max-width: 48%;
    padding: 10px 10px;
  }

  .container{
    width: 1053px;
  }

  .hs-content-inner{
    padding: 0 100px;
    font-size: 6.2em;

  }

@media screen and (min-width: 1800px) {

}
